.index {
  width: 100%;
  height: 100%;
  .header {
    position: relative;
    width: 100%;
    .tips {
      position: absolute;
      top: 15%;
      left: 50%;
      margin-left: -22%;
      width: 44%;
      height: 44%;
      background: url("../images/newBg.png") center no-repeat;
      background-size: 70%;
      .ivu-badge {
        position: absolute;
        top: 5px;
        right: 25px;
      }
      .ivu-badge-count {
        height: 25px;
        border: none;
        box-shadow: none;
        border-radius: 50%;
        line-height: 25px;
        font-size: 14px;
      }
    }

  }
  .main {
    position: relative;
    width: 90%;
    height: 35%;
    z-index: 10;
    margin: -20px auto 0 auto;
    background: @color-f;
    box-shadow: 0 5px 10px @mask-b-1;
    .main-top {
      width: 85%;
      margin: 0 auto;
      padding-top: 5%;
      text-align: center;
      p {
        line-height: 30px;
      }
      .img-box img {
        width: 60%;
        margin: 0 auto;
      }
    }
    .main-bottom {
      width: 58%;
      margin: 0 auto;
      padding-top: 3.5%;
      text-align: center;
      p {
        line-height: 30px;
      }
      .img-box img {
        width: 60%;
        margin: 0 auto;
      }
    }
  }
}
