@import "color";

* {
  box-sizing: border-box;
  outline: none;
  color: @color-3;
}

body {
  background: @color-f0;
}

body, html, #app {
  height: 100%;
}

img {
  vertical-align: middle;
}

.clear {
  clear: both;
  &:after {
    display: block;
    clear: both;
    height: 0;
  }
}

.left {
  float: left;
}

.right {
  float: right;
}

.m-t-20 {
  margin-top: 20px;
}

.m-l-r-20 {
  margin-left: 20px;
  margin-right: 20px;
}

.m-l-20 {
  margin-left: 20px;
}

.img-box {
  width: 100%;
  > img {
    display: block;
    width: 100%;
  }
}

.bg-f {
  background: @color-f

}

.h100 {
  height: 100%
}

.menu-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 45px;
  background: @color-f;
  box-shadow: 0 5px 10px @mask-b-1;
  line-height: 45px;
  > .left-icon {
    position: relative;
    z-index: 1;
    display: block;
    float: left;
    width: 50px;
    text-align: center;
    font-size: 28px;
  }
  > h1 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
  }
  > .right-icon {
    display: block;
    float: right;
    width: 50px;
    text-align: center;
    font-size: 28px;
    ul {
      text-align: left;
    }
  }
}

.content {
  padding: 70px 30px;
  > h2 {
    width: 80%;
    margin: 0 auto 20px auto;
    font-size: 18px;
    color: @color-success;
    line-height: 35px;
    text-align: center;
  }
  > .content-info > p {
    line-height: 25px;

    padding: 0 0 20px 0;
  }
}

@import "login";
@import "index";
@import "duty";
@import "repair";
@import "news";
@import "system";
